<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta property="og:title" content="podcastify">
    <meta property="og:type" content="website">
    <meta property="og:description" content="turn youtube videos into podcast, remove youtuber's bs & keep good parts only">
    <meta name="twitter:title" content="podcastify">
    <meta name="twitter:description" content="turn youtube videos into podcast, remove youtuber's bs & keep good parts only">
    <meta name="theme-color" content="#FF0000">
    <meta name="msapplication-navbutton-color" content="#FF0000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF0000">
    <title>Podcastify</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
    <script src="/static/htmx.min.js"></script>
    <script src="/static/response-targets.js"></script>
    <script src="/static/_hyperscript.min.js"></script>
</head>
<body hx-ext="response-targets">
    <main id="eugen-main">
        {{embed}}
    </main>
    <div id="modal-container"></div>
    <div id="toast-container" class="toast toast-top toast-end z-50"></div>
    {{ template "partials/footer" }}
</body>
</html>
